%h1 All Movies

%table#movies
  %thead
    %tr
      %th Index
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Delete
  %tbody
    - @movies.each_with_index do |movie, index|
      %tr
        %td= index
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to 'Delete', movie_path(movie), :method => :delete

= link_to 'Add new movie', new_movie_path